@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  pre,
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  pre {
    padding: 8px;
    line-height: 1.25;
    overflow-x: scroll;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  html {
    font-size: 12px;
  }
  
  @media screen and (min-width: 512px) and (max-width: 768px) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .modest-p {
    font-size: 16px;
    margin-bottom: 20.8px;
  }
  
  h1,
  .modest-h1,
  h2,
  .modest-h2,
  h3,
  .modest-h3,
  h4,
  .modest-h4 {
    margin: 22.624px 0 8px;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1,
  .modest-h1 {
    margin-top: 0;
    font-size: 63.968px;
  }
  
  h2,
  .modest-h2 {
    font-size: 45.232px;
  }
  
  h3,
  .modest-h3 {
    font-size: 31.984px;
  }
  
  h4,
  .modest-h4 {
    font-size: 22.624px;
  }
  
  h5,
  .modest-h5 {
    font-size: 17.936px;
  }
  
  h6,
  .modest-h6 {
    font-size: 14.08px;
  }
  
  small,
  .modest-small {
    font-size: 11.312px;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
  
  @import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
  
  html {
    font-size: 18px;
    max-width: 100%;
  }
  
  body {
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 768px;
    line-height: 1.45;
    padding: 4px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arimo, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 18.4px;
    padding-bottom: 8px;
    text-align: center;
  }
  
  blockquote {
    border-left: 8px solid #fafafa;
    padding: 16px;
  }
  
  pre,
  code {
    background-color: #fafafa;
  }
