/* Solarized Blue Color Scheme */
:root {
    --base03: #fdf6e3;
    --base02: #eee8d5;
    --base01: #93a1a1;
    --base00: #839496;
    --base0: #657b83;
    --base1: #586e75;
    --base2: #073642;
    --base3: #002b36;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    background-color: var(--base03);
    color: var(--base3);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
}

header, footer {
    background-color: var(--base02);
    color: var(--base3);
    text-align: center;
    padding: 1em 0;
}

header h1, footer p {
    margin: 0;
}

nav {
    float: right;
    background-color: var(--base03);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: var(--base3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

article#home0 {
    background-image: url(stockphotos/fefc5c34-9afb-4ea8-bbce-04d9f2eff9e0-Ceb_Girls_STEM_BJP_02.webp);
    background-size: cover;
    color: var(--base3);
    padding: 20px;
    margin: 10px 0;
}

article#home1 {
    background-image: url(stockphotos/bigstock-Science-Technology-Engineeri-268236289.jpg);
    background-size: cover;
    background-position: center;
    color: var(--base00);
    padding: 20px;
    margin: 10px 0;
}

.article-banner {
    margin: 240px 0;
}

nav a:hover {
    background-color: var(--base00);
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}